In [28]:
import numpy as np
import pandas as pd

In [29]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [30]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [31]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [32]:
movies=movies.merge(credits,on='title')

In [33]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [34]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [35]:
movies= movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [36]:

movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [37]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [38]:
movies.dropna(inplace=True)

In [39]:
movies.duplicated().sum()

np.int64(0)

In [40]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [45]:
import ast
ast.literal_eval()

TypeError: literal_eval() missing 1 required positional argument: 'node_or_string'

In [46]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        return L

In [47]:
movies['genres']= movies['genres'].apply(convert)

In [48]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [49]:
movies['keywords'].apply(convert)

0                      [culture clash]
1                              [ocean]
2                                [spy]
3                          [dc comics]
4                     [based on novel]
                     ...
4804    [united states–mexico barrier]
4805                              None
4806                            [date]
4807                              None
4808                       [obsession]
Name: keywords, Length: 4806, dtype: object

In [50]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [51]:
def convert3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [52]:
movies['cast']=movies['cast'].apply(convert3)

In [53]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [54]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
        return L

In [55]:
movies['crew']=movies['crew'].apply(fetch_director)

In [56]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman]",[]
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[]

In [57]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [58]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [59]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[Action],"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Action],"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Christian Bale, Michael Caine, Gary Oldman]",[]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Action],"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[]

In [219]:
movies['genres']   = movies['genres'].apply(lambda x: [i.replace(' ',' ') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(' ',' ') for i in x])
movies['cast']     = movies['cast'].apply(lambda x: [i.replace(' ',' ') for i in x])
movies['crew']     = movies['crew'].apply(lambda x: [i.replace(' ',' ') for i in x])

In [220]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[ A c t i o n ],[],"[ S a m W o r t h i n g t o n , Z o e S a l d...",[],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[ A d v e n t u r e ],[],"[ J o h n n y D e p p , O r l a n d o B l o o...",[],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[ A c t i o n ],[],"[ D a n i e l C r a i g , C h r i s t o p h W...",[],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[ A c t i o n ],[],"[ C h r i s t i a n B a l e , M i c h a e l C...",[],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[ A c t i o n ],[],"[ T a y l o r K i t s c h , L y n n C o l l i...",[],"[John, Carter, is, a, war-weary,, former, mili..."

In [221]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+ movies['cast']+movies['crew']

In [222]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[ A c t i o n ],[],"[ S a m W o r t h i n g t o n , Z o e S a l d...",[],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[ A d v e n t u r e ],[],"[ J o h n n y D e p p , O r l a n d o B l o o...",[],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[ A c t i o n ],[],"[ D a n i e l C r a i g , C h r i s t o p h W...",[],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[ A c t i o n ],[],"[ C h r i s t i a n B a l e , M i c h a e l C...",[],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[ A c t i o n ],[],"[ T a y l o r K i t s c h , L y n n C o l l i...",[],"[John, Carter, is, a, war-weary,, former, mili..."

In [263]:
new_df = movies[['movie_id','title','tags']].copy()

In [264]:
new_df['tags'] = new_df['tags'].apply(lambda x: "   ".join(x) if isinstance(x, (list, tuple)) else str(x))

In [265]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic ..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to b..."
2,206647,Spectre,A cryptic message from Bond’s past ...
3,49026,The Dark Knight Rises,Following the death of District Atto...
4,49529,John Carter,"John Carter is a war-weary, former ..."

In [266]:
new_df['tags'][0]

'In   the   22nd   century,   a   paraplegic   Marine   is   dispatched   to   the   moon   Pandora   on   a   unique   mission,   but   becomes   torn   between   following   orders   and   protecting   an   alien   civilization.    A c t i o n     S a m W o r t h i n g t o n     Z o e S a l d a n a     S i g o u r n e y W e a v e r '

In [267]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [268]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic ..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to b..."
2,206647,Spectre,a cryptic message from bond’s past ...
3,49026,The Dark Knight Rises,following the death of district atto...
4,49529,John Carter,"john carter is a war-weary, former ..."

In [269]:
import sys
print(sys.executable)

C:\ProgramData\anaconda3\python.exe

In [270]:
!"C:\ProgramData\anaconda3\python.exe" -m pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [271]:
import nltk
print(nltk.__version__)

3.9.1

In [272]:
import nltk

In [273]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [274]:
def stem(text):
    y=[]

    for i in text.split():
        y.append(ps.stem(i))

        return "  ".join(y)

In [275]:
new_df['tags']=new_df['tags'].apply(stem)

In [276]:
new_df['tags'][1]

'captain'

In [277]:
new_df['tags'][0]

'in'

In [278]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=500,stop_words='english')

In [279]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [280]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [281]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [282]:
cv.get_feature_names_out()

array(['15', '16', '17', '1910', '1921', '1950', '1971', '1982', '20',
       '200', '2009', '2016', '2046', '20th', '28', 'abbi', 'actress',
       'adam', 'adapt', 'admir', 'advertis', 'age', 'agent', 'alex',
       'alexander', 'alic', 'alice', 'america', 'american', 'amidst',
       'andi', 'anim', 'apart', 'approach', 'arm', 'art', 'arthur',
       'aspir', 'astronaut', 'australian', 'babe', 'babi', 'barney',
       'barri', 'bas', 'base', 'batman', 'beatric', 'beauti', 'beautiful',
       'befor', 'ben', 'best', 'bianca', 'billi', 'bob', 'bobbi', 'born',
       'brian', 'british', 'brooklyn', 'bruce', 'bud', 'bumbl', 'captain',
       'captur', 'carl', 'carmen', 'chao', 'charli', 'chri', 'cia',
       'cidad', 'cindi', 'circu', 'citi', 'clair', 'clarenc', 'clark',
       'class', 'clay', 'clear', 'climb', 'cobb', 'cocki', 'codi',
       'cohabit', 'col', 'colin', 'colleg', 'colonel', 'columbu', 'com',
       'combat', 'come', 'comedi', 'commentator', 'commerci', 'commun',
       'complet', 'comput', 'conni', 'conrad', 'construct', 'contact',
       'continu', 'control', 'conveni', 'corki', 'corky', 'corpor',
       'countless', 'cousins', 'cover', 'crack', 'craig', 'creat', 'crew',
       'cross', 'curs', 'cw', 'dahlia', 'dale', 'damon', 'dan', 'danger',
       'daniel', 'danni', 'danny', 'dar', 'dariu', 'darren', 'daryl',
       'date', 'dave', 'david', 'dawn', 'deadpool', 'deal', 'dean',
       'deckard', 'decor', 'dedic', 'deep', 'deepli', 'deform', 'denni',
       'dentist', 'depress', 'depression', 'deputi', 'der', 'derek',
       'desper', 'despit', 'despond', 'detect', 'determin', 'detroit',
       'deuc', 'dev', 'dex', 'diamond', 'diego', 'diplomats', 'direct',
       'director', 'dirti', 'discov', 'disench', 'disgrac', 'dispatch',
       'district', 'disturb', 'doctor', 'documentari', 'dogtown', 'domen',
       'don', 'donato', 'donna', 'doormat', 'dorian', 'dorothi',
       'dorothy', 'double', 'doug', 'dr', 'dracula', 'dragon', 'drama',
       'dramat', 'dramatis', 'drawn', 'dray', 'dream', 'drew', 'drina',
       'driven', 'driver', 'du', 'duet', 'duffi', 'duncan', 'dunson',
       'dure', 'dutch', 'earli', 'ec', 'eccentr', 'eddi', 'eden', 'edg',
       'edmond', 'edward', 'egyptologist', 'eighti', 'el', 'elektra',
       'eliza', 'elizabeth', 'ell', 'ella', 'elli', 'elliot', 'elmo',
       'elsa', 'elvi', 'emili', 'emma', 'employe', 'en', 'end', 'enemi',
       'enforc', 'engin', 'english', 'enrag', 'enter', 'era', 'eric',
       'erin', 'errol', 'erstwhil', 'escap', 'esteem', 'estrang', 'ethan',
       'eva', 'evan', 'event', 'everi', 'everybodi', 'everyon', 'everyth',
       'evil', 'ex', 'exactli', 'experi', 'explor', 'face', 'fact',
       'fail', 'famili', 'famou', 'far', 'fast', 'fbi', 'fear', 'fed',
       'federal', 'feel', 'femal', 'fifti', 'film', 'filmmak', 'financi',
       'firefight', 'flamboyantli', 'fledgl', 'fletcher', 'folklor',
       'follow', 'foolish', 'forc', 'ford', 'forens', 'forks', 'forrest',
       'foundl', 'fourteen', 'fourth', 'frame', 'franci', 'frank',
       'franki', 'fred', 'freddi', 'freddie', 'freddy', 'frederick',
       'french', 'frida', 'friend', 'friends', 'frodo', 'fugit', 'furiou',
       'futurist', 'gabita', 'gabriel', 'gang', 'garfield', 'gari',
       'georg', 'georgia', 'ghost', 'gift', 'gigli', 'gilbert', 'gile',
       'grace', 'greg', 'hard', 'harper', 'harri', 'harvard', 'henri',
       'high', 'hire', 'histori', 'holli', 'home', 'hope', 'ice',
       'immedi', 'indian', 'inspir', 'intrepid', 'iri', 'jack', 'jackass',
       'jacki', 'jake', 'jame', 'jan', 'jason', 'jean', 'jerri', 'jess',
       'jigsaw', 'jim', 'jimmi', 'joe', 'john', 'johnni', 'jonathan',
       'josh', 'julia', 'just', 'justin', 'katherin', 'katniss', 'lac',
       'led', 'lee', 'legendari', 'life', 'lifelong', 'light', 'like',
       'live', 'lo', 'lola', 'london', 'luci', 'luke', 'major', 'mallori',
       'mann', 'marcu', 'mari', 'martin', 'matt', 'maverick', 'max',
       'medic', 'meet', 'michael', 'mike', 'mild', 'mile', 'modern',
       'morgan', 'mr', 'music', 'natur', 'nearli', 'nerdi', 'new',
       'newli', 'nick', 'nypd', 'old', 'ordinari', 'orphan', 'oscar',
       'paris', 'paul', 'pete', 'peter', 'phil', 'plagu', 'play', 'power',
       'princess', 'privat', 'pro', 'profession', 'professor', 'rachel',
       'rais', 'ray', 'recent', 'rememb', 'retir', 'return', 'richard',
       'ride', 'robert', 'rose', 'russian', 'sam', 'sandra', 'sara',
       'sarah', 'scientist', 'scott', 'sean', 'secur', 'selma',
       'sergeant', 'serial', 'set', 'seven', 'seymour', 'sidney', 'simon',
       'singer', 'sir', 'someth', 'soul', 'span', 'special', 'spike',
       'spoof', 'star', 'steve', 'strang', 'success', 'suffer', 'talent',
       'teenag', 'tell', 'terrenc', 'terri', 'thank', 'thi', 'thirteen',
       'tom', 'tommi', 'tough', 'trap', 'troubl', 'true', 'tv', 'vampir',
       'victor', 'video', 'walt', 'whatev', 'widow', 'wife', 'wilbur',
       'william', 'wolverin', 'woodi', 'woody', 'workahol', 'working',
       'world', 'wound', 'wreck', 'wren', 'writer', 'wrong', 'wwe',
       'xander', 'year', 'young'], dtype=object)

In [283]:
['loved','loving','love']
['love','love','love']

['love', 'love', 'love']

In [284]:
ps.stem('loved')

'love'

In [285]:
stem('In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action SamWorthingtonZoeSaldana SigourneyWeaver')

'in'

In [286]:
from sklearn.metrics.pairwise import cosine_similarity

In [291]:
similarity=cosine_similarity(vectors)

In [323]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1, np.float64(0.0)),
 (2, np.float64(0.0)),
 (3, np.float64(0.0)),
 (4, np.float64(0.0)),
 (5, np.float64(0.0))]

In [310]:
def recommend(movie):
    movie_index=new_df[new_df['title']== 'Batman Begins'].index[0]
    distances =similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [312]:
recommend('Batman Begins')

Avatar
Pirates of the Caribbean: At World's End
Spectre
The Dark Knight Rises
John Carter

In [324]:
new_df.iloc[1216].title

'Autumn in New York'

In [326]:
import pickle

In [327]:
pickle.dump(new_df,open('movie.pkl','wb'))

In [328]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [330]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [331]:
pickle.dump(similarity,open('similarity.pkl','wb'))